.title {
    text-align: center;
    background: linear-gradient(to right, var(--primary-1) 0%, var(--light-1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 25px 0;
    font-size: 32px;
}

.loaderContainer {
    text-align: center;
    margin-top: 35px;
}

.loader {
    width: 48px;
    height: 48px;
    border: 3px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-bottom-color: var(--primary-1);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.gutterContainer {
    display: flex;
    flex-wrap: wrap;
}

.gutter {
    flex: 1;
}

@media (max-width: 800px){
    .gutterContainer {
        flex-direction: column;
    }
}

.emptyResults{
    margin: 0;
    text-align: center;
    font-size: 22px;
    color: var(--light-1);
}