.modal {
    position: fixed;
    background-color: rgb(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-y: auto;
    padding: 30px 0;
    box-sizing: border-box;
}

.modal .dialog {
    background-color: var(--background-1);
    width: 80%;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    margin: auto;
}

.modal header {
    color: var(--font-color-1);
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    border-bottom: 1px solid var(--background-2);
    align-items: center;
    font-size: 20px;
}

.modal header button {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    color: var(--font-color-1);
    font-size: 40px;
}

.modal main {
    padding: 10px 20px;
    box-sizing: border-box;
}

.modal footer {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    padding: 10px;
    border-top: 1px solid var(--background-2);
    gap: 15px;
}