.technologiesList {
    padding: 0;
    list-style: none;
    text-align: center;
}

.technologiesList li {
    display: inline-flex;
}

.technologiesList a {
    background-color: var(--background-2);
    text-decoration: none;
    color: var(--font-color-1);
    padding: 20px 25px;
    margin: 10px;
    outline: none;
}

.technologiesList a:hover, .technologiesList a:focus {
    box-shadow: var(--primary-1) 0px 1px 2px 0px, var(--primary-1) 0px 1px 3px 1px;
}

.technologyPageContainer {
    background-color: var(--background-2);
    min-height: 100vh;
    height: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
}

.technologyPageContainer iframe {
    margin-top: 15px;
}

.technologyName {
    font-weight: bold;
    color: var(--primary-1);
}

.space {
    margin: 20px 0;
}